.sectionFormSelection {
  display: flex;
}

.sectionSelectionItem {
  margin-right: 10px;
}

.sectionFormButtons {
  display: flex;
  justify-content: flex-end;
}

.sectionFormButtons button {
  margin-left: 5px;
}